* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    background: linear-gradient(135deg,rgb(74,13,143) 0%, rgba(250,42,143) 100%);
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
  }
  
  .main {
    height: 110px;
    width: 100%;
    position: relative;
  }


.nav-title{
    position: relative;
    width: 270px;
    height: 110px;
    left: 5px;
    top: 5px;
    padding-left: 50px;
    background: linear-gradient(135deg, rgba(250,42,143) 0%,rgb(74,13,143) 100% );
   
}
.nav-title:before,
.nav-title:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -2;
    animation: border 20s linear infinite;
}
.nav-title:after{
    filter: blur(13px);
}
@keyframes border {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}



  .main .nav-header {
    display: inline;
  }
  
  .main .nav-header .nav-title {
    display: inline-block;
    padding: 10px 10px 10px 10px;
  }
  
  .main .nav-btn {
    display: none;
  }
  
  .main .nav-links {
    display: inline;
    float: right;
    font-size: 22px;
  }
  
  .main .nav-links #abc {
    display: inline-block;
    padding: 45px 40px 8px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .main #nav-check {
    display: none;
  }
  
  .main .nav-links #abc:hover {
     border-bottom: 4.5px solid #21d4fd;
  }





  @media (max-width:1210px) {
    .main .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .main .nav-btn label {
      display: inline-block;
      width: 30px;
      height: 110px;
      padding: 43px;
      padding-left: 20px;
    }
    .main .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
      background-color: #333;
      height: 121px;
    }
    .main .nav-btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .main .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 121px;
      left: 0px;
      text-align: center;
    }
    .main .nav-links #abc {
      display: block;
      width: 100%;
    }
    .main #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .main #nav-check:checked ~ .nav-links {
      height: calc(100vh - 121px);
      overflow-y: auto;
    }
  }


  .animation::before,
        .animation::after{
            height: 0%;
            width: 100%;
            position: absolute;
            content: '';
            opacity: 0;
            transition: all ease-in-out 0.3s;
        }
        .animation::before{
           
            left: 619;
            top: 85;
            border-top: 3px solid #21d4fd;
            transform: translate(100%, -50%);
        }
        .animation::after{
            left: 619;
            
            bottom: 30;
            border-bottom: 3px solid #21d4fd;
            transform: translate(100%, -50%);
        }
        .animation:hover::before,
        .animation:hover::after{
            opacity: 1;
            transform: translate(0%, 0%);
        }
